@font-face {
  font-family: 'Monocraft';
  src: url('./public/fonts/Monocraft.otf');
}

* {
  font-family: 'Monocraft', 'New Courier', Courier, monospace;
}

html {
  height: 100%;
  overflow-y: hidden;
}
